/* Profile Card */
.profile {
    margin-bottom: 4vh;
    cursor: pointer;
    border-radius: 5%;
    border: 1px solid black;
    justify-content: center;
}

.profile:hover {
    background-color: #e0f0f5;
    border: 2px solid #004b52;
}

.profile:active {
    background-color: #d1e8f0;
}

.profile .img-fluid {
    padding: 2vh 4vh 0vh 4vh;
    margin-bottom: 1vh;
    border-radius: 50%;
}

.profile h4.name {
    font-size: 1.5rem;
}

div.body {
    text-align: center;
}

div.body .school {
    font-size: 1rem;
}

/* Modal */
.modal-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.modal-body .img-fluid {
    width: 35%;
    object-fit: cover;
    margin-right: 2vh;
}

.modal-body .info {
    width: 65%;
}

.modal-content {
    background-color: whitesmoke;
    color: black;
}

.project-list > li {
    margin-bottom: 1vh;
}

/* Tablet View */
@media screen and (max-width: 992px) {
    .modal-body {
        display: flex;
        flex-direction: column;
        margin-bottom: 0vh;
        padding: 1vh 2vh 0vh 2vh;
    }

    .modal-body .img-fluid {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1vh;
        border-radius: 5%;
    }

    .modal-body .info {
        width: 100%;
    }
}

