body {
    padding: 0;
    margin: 0;
    background-color: #edf6f9;
}

/* General elements */

.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).focus {
    background-color: #006d77;
    border-color: #006d77;
    box-shadow: none !important;
}

.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #004b52 !important;
    border-color: #004b52 !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #005e66 !important;
    border-color: #005e66 !important;
}

/* Navigation Bar */

.navbar {
    padding: .5rem 0rem !important;
}

.nav-link,
.navbar-brand {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.nav-link {
    margin-left: .5rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #006d77;
}


.navbar-collapse {
    justify-content: flex-end;
}

/* Main Body */

.main {
    padding-top: 15%;
    text-align: center;
}

.main > .description {
    width: 75%;
    padding: 1rem 0rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper > h1.heading {
    font-size: xxx-large;
    font-weight: bold;
}

.wrapper > h2.heading {
    font-size: x-large;
    font-weight: bold;
}

.wrapper > h3 {
    font-size: large;
    text-align: center;
}

.other-content {
    padding-top: 5%;
}

.other-content > .description {
    width: 75%;
    padding: 1rem 0rem;
}

.img-fluid {
    max-height: 50%;
}

.charity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charity > h4.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}