.flip-card {
    margin-bottom: 4vh;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.back {
    padding: 2vh 4vh;
}

.free {
    border: 1px solid green;
    border-radius: 5%;
}

.free:hover {
    background-color: #def7de;
    border-width: 2px;
}

.full {
    border: 1px solid red;
    border-radius: 5%;
}

.full:hover {
    background-color: #FFD8D6;
    border-width: 2px;
}

.front h3 {
    font-weight: bold;
}

.front img {
    border-radius: 5%;
}

/* Flip functionality */
.flip-card-outer {    
    perspective: 500px;
    -webkit-perspective: 500px;
}

.flip-card {
    transition: transform 1s;
    -webkit-transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card div{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card > .back {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg );
}

.front, .back {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card.flipped {
    transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg );
}