.profile {
    padding: 1vh;
    cursor: pointer;
}

.profile:hover {
    background-color: #e0f0f5;
}

.profile:active {
    background-color: #d1e8f0;
}

.profile .img-fluid {
    margin-bottom: 1vh;
}

div.body {
    text-align: center;
}

/* Modal */
.modal-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.modal-body .img-fluid {
    width: 35%;
    object-fit: cover;
    margin-right: 2vh;
}

.modal-body .info {
    width: 65%;
}

.modal-content {
    background-color: black;
    color: white;
}

li {
    margin-bottom: 1vh;
}

/* Mobile View */
@media screen and (max-width: 992px) {

}

