body {
    padding: 0;
    margin: 0;
    background-color: #edf6f9;
}

/* General elements */
.btn,
.btn:focus,
.btn:not(:disabled):not(.disabled).focus,
.btn:active,
.btn:not(:disabled):not(.disabled):active,
.btn-primary:hover {
    box-shadow: none !important;
}

.btn-primary {
    border-radius: 0;
    border-width: 2px;
    font-weight: 600;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).focus {
    background-color: transparent;
    border-color: #006d77;
    color: black;
}

.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #004b52 !important;
    border-color: #004b52 !important;
}

.btn-primary:hover {
    background-color: #badedb !important;
    color: black;
    border-color: #005e66 !important;
}

a {
    color: #000000;
    cursor: pointer;
}

a:hover {
    color: #006d77;
    text-decoration: none;
}

/* Modals */
.modal-content {
    background-color: #EDF6F9;
}

.modal-header .close:focus {
    outline-width: 0px;
}

.modal-header .close {
    padding: .5rem 1rem 0rem 0rem;
}

.modal-header {
    border-width: 0px;
}

/* Mobile Formatting */
@media screen and (max-width: 768px) {
    .modal-dialog {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;
    }

    .modal-content  {
        height: 100% !important;
        min-height: 100% !important;
        border-width: 0px;
        border-radius: 0;
    }
}

/* Navigation Bar */
div.fixed {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #edf6f9 !important;
    padding: 0vh 5%;
}

.navbar {
    padding: .5rem 0rem !important;
    display: flex;
}

.nav-link,
.navbar-brand {
    font-weight: 600;
}

.nav-link {
    margin-left: .5rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #006d77;
}

.navbar-nav {
    align-items: flex-end;
    padding-right: 1.5vh;
}

.navbar-collapse {
    justify-content: flex-end;
}

div.fixed {
    background-color: #edf6f9 !important;
    z-index: 100 !important;
}

/* Main Body */
.main {
    padding-top: 20vh;
    text-align: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > .description {
    width: 90%;
    padding: 0rem 1rem;
}

.wrapper > .first {
    padding-top: 0rem;
}

.wrapper > h1 {
    font-size: xxx-large;
    font-weight: bold;
}

.wrapper > h1.heading {
    margin-bottom: 2rem;
}

.wrapper > h2 {
    font-size: x-large;
    font-weight: bold;
}

.wrapper > h2.heading {
    margin-bottom: 1rem;
}

.wrapper > h3 {
    font-size: large;
    text-align: center;
}

section#intro {
    padding-bottom: 200px;
}

.content {
    width: 90%;
    float: right;
    padding-bottom: 2rem;
}

a.inline {
    color: #a84724;
}

a.inline:hover {
    background-color: #e0f0f5;
    border-radius: 1px;
}

ul.list > li {
    padding-top: .5rem;
    overflow-wrap: break-word;
}

ul.list > li.first {
    padding-top: 0rem;
}

/* Other page headers */
.other-content {
    padding-top: 10vh;
    align-items: center;
}

.other-content > .description {
    width: 80%;
}

/* MOVE OUT OF THIS FILE */
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 3vh 0vh;
    cursor: pointer;
}

.feature:hover {
    background-color: #e0f0f5;
}

.feature:active {
    background-color: #d1e8f0;
}

.feature > h4.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}