body {
    padding: 0;
    margin: 0;
    background-color: #edf6f9;
}

/* General elements */
.btn-primary {
    border-radius: 0;
    border-width: 2px;
    font-weight: 600;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).focus {
    background-color: transparent;
    border-color: #006d77;
    color: black;
    box-shadow: none !important;
}

.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #004b52 !important;
    border-color: #004b52 !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #badedb !important;
    color: black;
    border-color: #005e66 !important;
}

div.container {
    height: 100%;
}

a {
    color: #000000;
    cursor: pointer;
}

a:hover {
    color: #006d77;
    text-decoration: none;
}

/* Navigation Bar */

.navbar {
    padding: .5rem 0rem !important;
    /*background-color: #ffddd2;*/
}

.nav-link,
.navbar-brand {
    font-weight: 600;
}

.nav-link {
    margin-left: .5rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #006d77;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Main Body */

.main {
    padding-top: 15%;
    text-align: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > .description {
    width: 90%;
    padding: 0rem 1rem;
}

.wrapper > .first {
    padding-top: 0rem;
}

.wrapper > h1 {
    font-size: xxx-large;
    font-weight: bold;
}

.wrapper > h1.heading {
    margin-bottom: 2rem;
}

.wrapper > h2 {
    font-size: x-large;
    font-weight: bold;
}

.wrapper > h2.heading {
    margin-bottom: 1rem;
}

.wrapper > h3 {
    font-size: large;
    text-align: center;
}

section#intro {
    padding-bottom: 200px;
}

.content {
    width: 90%;
    float: right;
    padding-bottom: 2rem;
}

a.inline {
    color: #a84724;
}

a.inline:hover {
    background-color: #e0f0f5;
    border-radius: 1px;
}

ul.list > li {
    padding-top: .5rem;
    overflow-wrap: break-word;
}

ul.list > li.first {
    padding-top: 0rem;
}

.img-fluid {
    max-height: 40%;
}










/* MOVE OUT OF THIS FILE */
.other-content {
    padding-top: 5%;
}

.other-content > .description {
    width: 80%;
    padding: 1rem 0rem;
}


.feature,
.counselor {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0 1rem;
    cursor: pointer;
}

.feature:hover,
.counselor:hover {
    background-color: #e0f0f5;
}

.feature:active,
.counselor:active {
    background-color: #d1e8f0;
}

.feature > h4.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}