.btn-secondary {
    border-radius: 0;
    border-width: 2px;
    font-weight: 600;
    width: 70%;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).focus {
    background-color: transparent;
    border-color: #006d77;
    color: black;
}

.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #004b52 !important;
    border-color: #004b52 !important;
}

.btn-secondary:hover {
    background-color: #badedb !important;
    color: black;
    border-color: #005e66 !important;
}

.centered {
    display: flex;
    justify-content: center;
}

.modal-body {
    padding: 3vh 8vh 2vh 8vh;
}

.modal-body > h5 {
    margin-top: 1vh;
}

ol > li {
    padding-top: .5rem;
    overflow-wrap: break-word;
}